.container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: bisque;
    width:60%;
    padding: 50px;
    border-radius: 20px;
    }
    .container p{
        margin-top: 10px;
        font-size: 1.2rem;
    }
.btn{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 40px;
}
    .btn button{
        height: 40px;
        padding: 10px;
        cursor: pointer;
        color:#fff;
        background-color: #06D001;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        transition: 0.2s all ease-in-out;
        
    }
    .btn button:hover{
        box-shadow: #0c2ad487 0px 7px 29px 0px;
        background-color: #fe5d42;
    }
